@model DbDataReadWrite.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
          @*<title>Employee List</title>*@
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Age</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Hire Data</th>
                    <th scope="col">Department</th>
                </tr>
            </thead>
            <tbody>
                @*@if (Model != null && Model.Count() > 0)
                {
                    foreach (var emp in Model)
                    {*@
                <tr>
                    <td scope="row">@Model.EmployeeID</td>
                    <td>@Model.FirstName</td>
                    <td>@Model.LastName</td>
                    <td>@Model.City</td>
                    <td>@Model.Age</td>
                    <td>@Model.Salary</td>
                    <td>@Model.HireDate</td>
                    <td>@Model.Department.Name</td>
                </tr>
                @*}
                }*@

            </tbody>
        </table>
        @Html.ActionLink("Back to Main Page", "Index", "Employee", null, new { @class = "btn btn-primary", @role = "button" })

    </div>
</body>
</html>
